<div class="feed-messages-container">
  <div class="feed-message" *ngFor="let message of feed" (click)="expandMessage(message)">
    <div class="message-icon" *ngIf="message.type == 'text-message'">
      <img class="photo-icon" src="assets/images/nopaid.jpg">
    </div>
    <div class="message-icon" *ngIf="message.type != 'text-message'">
      <img class="photo-icon" src="assets/images/nopaid.jpg">
      <span class="sub-photo-icon" [ngClass]="message.type"></span>
    </div>
    <div class="text-block text-message">
      <div class="message-header">
        <span class="author">Cliente <strong>{{ message.cliente_cliente_idcliente }} </strong></span>
      </div>
      <div class="message-header">
        <span class="author">Empleado: <strong>{{ message.empleado }}</strong></span>
      </div>
      <div class="message-content line-clamp" [ngClass]="{'line-clamp-2' : !message.expanded}">
        <span *ngIf="message.preview">{{ message.idorden }} </span>{{ message.estado_estado_idestado }}
      </div>
      <div class="preview" [ngClass]="{'hidden': !message.expanded}" >
        <div class="post-time">
          Días de Retraso: <strong>{{ message.dias_retraso }}</strong>
        </div>
        <div class="ago-time">
          Fecha Estimada de Entrega de Tarea para Orden: {{ message.otFechaEstimada }}
        </div>
      </div>
      <div [ngClass]="{'hidden': !message.expanded}" class="message-time">
        <div class="post-time">
          Fecha Estimada de Entrega de Orden: {{ message.fechaEntregaEstimada }}
        </div>
        <div class="ago-time">
          Fecha de Creación de Orden: {{ message.fecha }}
        </div>
      </div>
    </div>
  </div>
</div>
