<div class="row mt-3">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="modal-content" style="overflow-y: initial !important">
      <form [formGroup]="form" class="form-horizontal">
        <div class="modal-header">
          <h4 class="modal-title">Agregar Alerta</h4>
          <button class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="height: 65vh; overflow-y: auto;">
          <ba-card cardTitle="Información Alerta">
            <div class="form-group row" [ngClass]="{'has-error': (!empleado_idempleadoAC.valid && empleado_idempleadoAC.touched), 'has-success': (empleado_idempleadoAC.valid && empleado_idempleadoAC.touched)}">
              <label for="inputempleado_idempleadoAC" class="col-sm-3 form-control-label">Dirigido a Empleado</label>
              <div class="col-sm-7">
               <select [(ngModel)]="empleado_idempleado" [formControl]="empleado_idempleadoAC" class="form-control" id="inputempleado_idempleadoAC" required>
                 <option value="{{item.idempleado}}" *ngFor="let item of _empleado">{{item.persona_persona_idpersona}}</option>
               </select>
              </div>
              <div class='col-sm-2'>
                <button (click)='empleadoAddModalShow()' class='btn btn-primary'><i class='fa fa-plus'></i></button>
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!tipoalerta_idtipoalertaAC.valid && tipoalerta_idtipoalertaAC.touched), 'has-success': (tipoalerta_idtipoalertaAC.valid && tipoalerta_idtipoalertaAC.touched)}">
              <label for="inputtipoalerta_idtipoalertaAC" class="col-sm-3 form-control-label">Tipo de Alerta</label>
              <div class="col-sm-7">
               <select [(ngModel)]="tipoalerta_idtipoalerta" [formControl]="tipoalerta_idtipoalertaAC" class="form-control" id="inputtipoalerta_idtipoalertaAC" required>
                 <option value="{{item.idtipoalerta}}" *ngFor="let item of _tipoalerta">{{item.nombre}}</option>
               </select>
              </div>
              <div class='col-sm-2'>
                <button (click)='tipoalertaAddModalShow()' class='btn btn-primary'><i class='fa fa-plus'></i></button>
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!mensajeAC.valid && mensajeAC.touched), 'has-success': (mensajeAC.valid && mensajeAC.touched)}">
              <label for="inputmensajeAC" class="col-sm-3 form-control-label">Mensaje</label>
              <div class="col-sm-9">
                <input [(ngModel)]="mensaje" [formControl]="mensajeAC" type="text" maxlength='345' class="form-control" id="inputmensajeAC" placeholder="Mensaje" required>
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!vistaAC.valid && vistaAC.touched), 'has-success': (vistaAC.valid && vistaAC.touched)}">
              <label for="inputvistaAC" class="col-sm-3 form-check-label">Vista</label>
              <div class="col-sm-9">
                <input [(ngModel)]="vista" [formControl]="vistaAC" type="checkbox" class="form-check-input" id="inputvistaAC">
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!leidaAC.valid && leidaAC.touched), 'has-success': (leidaAC.valid && leidaAC.touched)}">
              <label for="inputleidaAC" class="col-sm-3 form-check-label">Leida</label>
              <div class="col-sm-9">
                <input [(ngModel)]="leida" [formControl]="leidaAC" type="checkbox" class="form-check-input" id="inputleidaAC">
              </div>
            </div>
          </ba-card>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger cancel-btn" (click)="close()">Cancelar</button>
          <button [disabled]="!form.valid" class="btn btn-primary confirm-btn" (click)="onSubmit(form.value)">Aceptar</button>
        </div>
      </form>
    </div>
  </div>
</div>
