<div class="row mt-3">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="modal-content" style="overflow-y: initial !important">
      <form [formGroup]="form" class="form-horizontal">
        <div class="modal-header">
          <h4 class="modal-title">Editar Abono</h4>
          <button class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="height: 65vh; overflow-y: auto;">
          <ba-card cardTitle="Información Abono">
            <div class="form-group row" [ngClass]="{'has-error': (!orden_idordenAC.valid && orden_idordenAC.touched), 'has-success': (orden_idordenAC.valid && orden_idordenAC.touched)}">
              <label for="inputorden_idordenAC" class="col-sm-3 form-control-label">Número de Orden</label>
              <div class="col-sm-7">
               <select [(ngModel)]="orden_idorden" [formControl]="orden_idordenAC" class="form-control" id="inputorden_idordenAC" required>
                 <option value="{{item.idorden}}" *ngFor="let item of _orden">{{item.idorden}} - {{item.cliente_cliente_idcliente}}</option>
               </select>
              </div>
              <div class='col-sm-2'>
                <button (click)='ordenAddModalShow()' class='btn btn-primary'><i class='fa fa-plus'></i></button>
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!adeudoAnteriorAC.valid && adeudoAnteriorAC.touched), 'has-success': (adeudoAnteriorAC.valid && adeudoAnteriorAC.touched)}">
              <label for="inputadeudoAnteriorAC" class="col-sm-3 form-control-label">Adeudo Anterior</label>
              <div class="col-sm-9">
                <input [(ngModel)]="adeudoAnterior" [formControl]="adeudoAnteriorAC" type="number"  class="form-control" id="inputadeudoAnteriorAC" placeholder="Adeudo Anterior" required>
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!montoPagadoAC.valid && montoPagadoAC.touched), 'has-success': (montoPagadoAC.valid && montoPagadoAC.touched)}">
              <label for="inputmontoPagadoAC" class="col-sm-3 form-control-label">Monto Abonando</label>
              <div class="col-sm-9">
                <input [(ngModel)]="montoPagado" [formControl]="montoPagadoAC" type="number"  class="form-control" id="inputmontoPagadoAC" placeholder="Monto Abonando" required>
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!adeudoActualAC.valid && adeudoActualAC.touched), 'has-success': (adeudoActualAC.valid && adeudoActualAC.touched)}">
              <label for="inputadeudoActualAC" class="col-sm-3 form-control-label">Adeudo Actual</label>
              <div class="col-sm-9">
                <input [(ngModel)]="adeudoActual" [formControl]="adeudoActualAC" type="number"  class="form-control" id="inputadeudoActualAC" placeholder="Adeudo Actual" required>
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!fechaAC.valid && fechaAC.touched), 'has-success': (fechaAC.valid && fechaAC.touched)}">
              <label for="inputfechaAC" class="col-sm-3 form-control-label">Fecha</label>
              <div class="col-sm-9">
                <input [(ngModel)]="fecha" [formControl]="fechaAC" type="date"  class="form-control" id="inputfechaAC" placeholder="Fecha" required>
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!horaAC.valid && horaAC.touched), 'has-success': (horaAC.valid && horaAC.touched)}">
              <label for="inputhoraAC" class="col-sm-3 form-control-label">Hora</label>
              <div class="col-sm-9">
                <input [(ngModel)]="hora" [formControl]="horaAC" type="time"  class="form-control" id="inputhoraAC" placeholder="Hora" required>
              </div>
            </div>
          </ba-card>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger cancel-btn" (click)="close()">Cancelar</button>
          <button [disabled]="!form.valid" class="btn btn-primary confirm-btn" (click)="onSubmit(form.value)">Aceptar</button>
        </div>
      </form>
    </div>
  </div>
</div>
